// 测试用
publicWidth = 100%    //声明一个复用变量

//头像
.personalData_title
    height 78px
    width 100%
    background blue
    // text-align center
    line-height 78px

    .cube-upload
      position: relative;
      display: inline-block;
      /* text-align: right; */
      left: 257px;

.personalData_title_one
      width publicWidth  //变量赋值
      height 56px 
      background pink
      border 1px solid black  
      line-height 56px
   .personalData_sonList  
      width publicWidth  //变量赋值
      height publicWidth

